html {
    
    padding: 100px; 
    height: 100%;
    
    
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0px;
    text-align: center;
    border: 2px;
    border-radius: 6px;
    width: 400px;
    height: 650px;
    justify-content: center;
    border-radius: 6px;
    border: 1px;
    background-color: #7e737b;
   
    
}

h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    padding-bottom: 0px;
}

.button {
    position: relative;
    width: 65px;
    height: 50px;
    border: none;
    background: none;
    font-size: 36px;
    margin: 11px;
    font-family: 'Varela Round', sans-serif;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    outline: none;
    background-color: whitesmoke;
    text-transform: none;
    overflow: visible;
    font: inherit;
    box-sizing: border-box;
}

.button:active {

    background-color:  #938a82;
    transform: translateY(4px);
    
    border: none;
}

.display input {
    position: relative;
    height: 100px;
    width: 345px;
    text-align: right;
    font-size: 50px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: whitesmoke;
    text-align: right;
    
    
}

